<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712653244516-2233sq35l4sojrkqcg08ijf5hr5ukm91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712653244516-2233sq35l4sojrkqcg08ijf5hr5ukm91</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712653244516-ltoflc3fd0vuj4efoipl82c5orp07jfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBv9E5_Qikk0ePemW_r8bQY21qKuwkMnos</string>
	<key>GCM_SENDER_ID</key>
	<string>712653244516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.scsnlrightorwrong</string>
	<key>PROJECT_ID</key>
	<string>rightorwrong-b03e0</string>
	<key>STORAGE_BUCKET</key>
	<string>rightorwrong-b03e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712653244516:ios:423c61cebb1c38bd85f771</string>
</dict>
</plist>